.vertical {
    flex-direction: column !important;
}

.vertical.top {
    justify-content: flex-start !important;
}

.vertical.bottom {
    justify-content: flex-end !important;
}

.vertical.verticalCenter {
    justify-content: center !important;
}

.vertical.horizontalCenter {
    align-items: center !important;
}

.vertical.left {
    align-items: flex-start !important;
}

.vertical.right {
    align-items: flex-end !important;
}

.horizontal {
    flex-direction: row !important;
}

.horizontal.top {
    align-items: flex-start !important;
}

.horizontal.bottom {
    align-items: flex-end !important;
}

.horizontal.verticalCenter {
    align-items: center !important;
}

.horizontal.horizontalCenter {
    justify-content: center !important;
}

.horizontal.left {
    justify-content: flex-start !important;
}

.horizontal.right {
    justify-content: flex-end !important;
}


.center {
    justify-content: center !important;
    align-items: center !important;
}